<p id="notice"><%= notice %></p>
<%= image_tag @book.image.url (:medium ) %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Arthur:</strong>
  <%= @book.arthur %>
</p>

<p>
  <strong>Content:</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @book.date %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
